{% extends "base_template.html" %} 
{% block title %}Wavely{% endblock %} 

{% block content %}

<!-- JAVASCRIPT and DATA
================================================================ -->
<div class="container">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">Welcome to Wavely!</h3>
    </div>

  <img src='/static/images/wave.jpeg' height=500 width=500>
  <a class="btn btn-info btn-lg" role="button" 
     href="/explore">Start!</a>
  </div> <!-- End of panel -->
</div><!-- End of container -->



{% endblock %}
